body {
    background-color: #000;
}


/* Navbar */

nav {
    background-color: #009CA7;
}

nav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-brand,
.nav-link {
    font-family: 'Raleway', sans-serif;
}


/* Header */

#Hero-Section img {
    height: 90vh;
}


/* Section Quienes Somos */

#QuienesSomos {
    font-family: 'Raleway', sans-serif;
}

#QuienesSomos hr {
    color: #009CA7;
    border: 1px solid;
    width: 95%;
}

#QuienesSomos article div {
    background-color: #009CA7;
    padding: 0 8px;
}

#QuienesSomos article div i {
    color: #fff;
}


/* Destacados */

#Destacados {
    font-family: 'Raleway', sans-serif;
}

#Destacados hr {
    color: #009CA7;
    border: 1px solid;
    width: 93%;
}

#Destacados img {
    max-height: 170.63px;
}